name: pagination
description: "A new Flutter project."
# The following line prevents the package from being accidentally published to
# pub.dev using `flutter pub publish`. This is preferred for private packages.
publish_to: 'none' # Remove this line if you wish to publish to pub.dev

version: 1.0.0+1

environment:
  sdk: ^3.7.0


dependencies:
  flutter:
    sdk: flutter
  json_annotation: ^4.9.0
  cupertino_icons: ^1.0.8
  dio : ^5.9.0	
  shared_preferences: ^2.5.3
  provider: ^6.1.5+1

dev_dependencies:
  flutter_test:
    sdk: flutter
  json_serializable: ^6.9.5
  build_runner: ^2.4.6
  flutter_lints: ^5.0.0

flutter:

  
  uses-material-design: true

  